<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>
    <div id="app">
        <label>名前：<input type="text" v-model="name" /></label><br />
        <select v-model="color">
            <option value="yellow">yellow</option>
            <option value="red">red</option>
            <option value="blue">blue</option>
        </select>
    </div>
    <script src="lib/vue.js"></script>
    <script src="js/directive_old.js"></script>
</body>
</html>